.container-fluid
  %span.section-header Tracks
  .pull-right
    - if user_signed_in?
      = link_to 'Add Track', new_team_path, class: "btn btn-default edit"
#content

  %u1.tracks.clearfix
    - @tracks.order(:name).each do |t|
      %li.result
        - if user_signed_in?
          = link_to '[Edit]', edit_track_path(t), class: 'team-name'
        = link_to '[Races]', track_races_path(t), class: 'team-name'
        = link_to "#{t.name} in #{t.city},#{t.country.name}", track_path(t), class: 'team-name'
