.container-fluid
  %h2.title #{@track.name} at #{@race.race_date} 
#content
  %div.row
    %div.col-xs-6
      = render partial: 'races/form', locals: {form_disabled: true }
    %div.col-xs-6
      = link_to image_tag("#{@track.file_name}", size: "360x360", longdesc: "#{@track.longdesc}"),
        image_path(@track.file_name)
