- disabled = form_disabled.nil? ? false : form_disabled
= bootstrap_form_for [@driver] do |f|
  = f.text_field :first_name, label: 'First name', disabled: disabled
  = f.text_field :last_name, label: 'Last name', disabled: disabled
  = f.text_field :nickname, label: 'Nickname', disabled: disabled
  = f.text_field :date_of_birth, label: 'Date of Birth', disabled: disabled
  = f.select :country_id, @countries.map {|c| [c.name, c.id, {disabled: disabled}]},
    label: 'Country' 

  - unless disabled
    .form-group.text-right
      = link_to('Cancel', drivers_path, class: 'btn btn-default cancel')
      = f.submit 'Save', class: 'btn btn-default save'
